@font-face {
    font-family: "h1-font";
    src: url("./fonts/BowlbyOne-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "text-font";
    src: url("./fonts/Nunito-VariableFont_wght.ttf") format("opentype");
}

body{
    background-image: url(images/background.png);
    background-size: cover;
}

img{
    height:500px; 
    width:500px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 200px;
}


.text, a{
    color: white;
    text-decoration: none;
}


h1{
    font-weight: bolder;
    font-family:"h1-font";
    width: 100%;
    font-size:36px;
}

.first-part{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.main-text{
    margin-top: 25px;
    color: rgb(209, 206, 206);
    font-family: "text-font";
    line-height: 1.3;
}

.address{
    margin-top: 20px;
    color: rgb(209, 206, 206);   
    font-family: "text-font";
}

.list{
    margin-top: 18px;
    font-family: "text-font";
    display: grid;
    grid-template-columns: repeat(2, 200px);
    row-gap: 15px;
    column-gap: 15px;

}

.random-numbers{
    margin-top: 7px;
    font-family: "text-font";
    font-weight: bold;
}


a{
    display: flex;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "text-font";
    font-size: small;
}
a:hover{
    background: radial-gradient(circle, orange, transparent)
}

.list-text{
    margin-left: 20px;
}